@page

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Profsa Informática - TIPSOFT - Emissão de NFC-e" />
    <meta name="author" content="Paulo Rogério Souza" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

    <link rel="shortcut icon" href="img/tipsoft.ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link href="../css/nexxus16.css" rel="stylesheet" type="text/css" media="screen" />
    <title>Recupera - TipSoft Sistemas - Emissão de NFC-e</title>
</head>

<script>
    $(document).ready(function () {
        var sta = $('#err-1').text().trim();
        if (sta != "") {
            sta = sta.substring(0, 4);
            $('#err-1').css("display", "block");
            if (sta == "Erro" || sta == "E-Ma") {
                $('#err-1').css("background-color", "red");

            } else if (sta == "Senh") {
                $('#err-1').css("background-color", "green");
            }
            $(".err-1").delay(5000).fadeOut(2500);
        }
    });
</script>

<body class="log-1">
    <form class="qua-1 animated slideInUp" name="frmLogin" action="" method="POST">
        <div class="row">
            <a href="https://www.tipsoft.com.br/">
                <img class="ima-1" src="../img/log-2.png" alt="Logotipo da empresa Tip Soft Sistemas"
                     title="Acesso ao site principal da empresa Tip Soft Sistemas" />
            </a>
        </div>

        <div id="err-1" class="err-1">
            @if (TempData["erro"] != null && Convert.ToString(TempData["erro"]) != "")
            {
                @TempData["erro"];
            }
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="input-field col s10">
                <i class="material-icons prefix">email</i>
                <input type="email" class="text-center" id="ema" name="email" maxlength="50" required>
                <label for="nome">E-mail do usuário para envio ...</label>
            </div>
            <div class="col s1"></div>
        </div>

        <div class="row">
            <input class="bot-1" type="submit" id="env" name="enviar" value="Enviar" />
            <br /><br />
            <span class="tit-2"><a href="Index">Voltar</a></span>
        </div>

    </form>
</body>

</html>
